@{
    ViewBag.Title = "Potvrda";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Uspješno ste potvrdili svoj račun. Molimo @Html.ActionLink("kliknite ovdje za prijavu", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
