@{
    ViewBag.Title = "Potvrda zaboravljene lozinke";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Molimo vas da provjerite email kako bi završili postupak resetiranja lozinke.
    </p>
</div>

