@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Zaključano";
}

<hgroup>
    <h1 class="text-error">Zaključano.</h1>
    <h2 class="text-error">Vaš račun je zaključan, molimo vas pokušajte kasnije.</h2>
</hgroup>
